
.custom-cards{    
  border: 2px solid #efe907;
  margin-bottom: 5px;
}

.row.mt-3.mb-3{
  /* border: 1px solid purple; */
}

.box {
  background: white;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  /* place-items: center; */
  grid-template-rows: 1fr;
}

.content {
  cursor: pointer;
  /* border: 1px solid tomato; */
}

.content .select-checkbox{
  display: flex;
  align-items: left;
}

.content ul{
  padding: 0;
  text-align: center;
}

.content li{
  list-style: none;
}