.container {
  display: flex;
  justify-content: center;
  margin: 5rem;
  padding: 0 4rem;
  flex-direction: row;
  align-items: stretch;
}

.image {
  flex-grow: 1;
}

.description {
  margin: 0 10%;
  flex-grow: 1;
}

.item-title {
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  color: #191919;
  justify-content: space-between;
  align-items: center;
}

.selections {
  display: block;
  min-height: 44px;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  max-width: 100%;
  border-radius: 2px;
  font-size: 1rem;
}

.submit-button {
  width: 120px;
  height: 50px;
  display: block;
  margin: 1rem;
}

.selector {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

P {
  color: rgb(61, 66, 70);
}

h3 {
  margin: 0;
}

.color-swatches {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 100%;
  border: 0.2rem solid lightgray;
  cursor: pointer;
}

.button {
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.submit-button {
  background-color: lightblue;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.submit-button:hover {
  color: lightblue;
  background-color: white;
  border: 1px solid lightblue;
}

#go-back {
  background-color: white;
  color: red;
  border-color: red;
}

@media only screen and (max-width: 1350px) {
  .container {
    flex-wrap: wrap;
    text-align: center;
  }
}
